<!DOCTYPE HTML>
<html>
	<head>
        <title>Project Management</title>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    </head>
<body>
	<form action="/Project/addProject" method="POST" enctype="application/x-www-form-urlencoded">
		Project Name:<input type="text" name="projectname"/><br><br>
		Project Start:<input type="date" name="startdate"/><br><br>
		Project End:<input type="date" name="enddate"/><br>	<br>
		<input type="submit" value="Submit"/>
	</form>
</body>
</html>